Repository ipecode-br/abnmo-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, npx eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": ["prettier --check", "npx eslint"],
  "*.{json,md,mdx,css,yaml,yml}": "prettier --check"
}

chore: add base colors and font family
  .lintstagedrc
  extensions.json
  next.config.ts
  postcss.config.mjs
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/lib/fonts.ts
Due: prettier --check, npx eslint

chore(github): create pull request template
  .github/pull_request_template.md
Due: prettier --check

test: setup jest
  jest.config.ts
  package-lock.json
  package.json
Due: prettier --check, npx eslint

build: create `@components*` alias
  tsconfig.json
Due: prettier --check

style(eslint): add tailwind functions on prettier
  prettier.config.mjs
Due: none

feat(components): create `Button` component and tests
  jest.config.ts
  package-lock.json
  package.json
  src/app/globals.css
  src/app/page.tsx
  src/components/ui/button.tsx
  tests/components/ui/button.test.tsx
  tsconfig.json
Due: prettier --check, npx eslint

ci: create workflows to check lint and tests on pull requests
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
Due: prettier --check

fix: remove alias from button import
  src/app/page.tsx
Due: prettier --check, npx eslint

test: create tests for each variant of `Button`
  tests/components/ui/button.test.tsx
Due: prettier --check, npx eslint

chore(seo): update app title
  src/app/layout.tsx
Due: prettier --check, npx eslint

build: install `Lucide React` icons
  package-lock.json
  package.json
Due: prettier --check

chore(button): add `shadow-sx` to default and fancy buttons
  src/components/ui/button.tsx
Due: prettier --check, npx eslint

chore(css): update background color and add `background-soft` variant
  src/app/globals.css
Due: prettier --check

feat(components): create `Input` component
  src/components/ui/input.tsx
Due: prettier --check, npx eslint

build: install `React Hook Form`
  package-lock.json
  package.json
Due: prettier --check

feat(components): create `PasswordInput`
  src/components/form/password-input.tsx
  src/components/ui/input.tsx
Due: prettier --check, npx eslint

feat(components): create `Label`
  src/components/ui/label.tsx
Due: prettier --check, npx eslint

feat(components): create `FormMessage`
  src/components/form/form-message.tsx
Due: prettier --check, npx eslint

feat(components): create `AuthCard`
  src/components/auth/auth-card.tsx
Due: prettier --check, npx eslint

chore(constants): create `routes.ts` file with sign-in route
  src/constants/routes.ts
Due: prettier --check, npx eslint

chore(pages): update initial page to have route buttons
  src/app/page.tsx
Due: prettier --check, npx eslint

chore(auth): create `layout.tsx` for auth routes
  public/images/background/auth-bg.svg
  src/app/conta/layout.tsx
Due: prettier --check, npx eslint

feat(components): create `NavButton`
  src/components/ui/nav-button.tsx
Due: prettier --check, npx eslint

feat(components): create `TextInput`
  src/components/form/text-input.tsx
Due: prettier --check, npx eslint

build: install `Zod` and `@hookform/resolvers`
  package-lock.json
  package.json
Due: prettier --check

feat(components): create `FormContainer`
  src/components/form/form-container.tsx
Due: prettier --check, npx eslint
